.sidebar1{
    @apply fixed top-0 left-0 px-16 py-12 h-screen flex;
   .border{
     border-right: 5px solid black ;
   }
   .box-text{
     border-bottom: 1px solid #B9B5B5;
     padding-top: 8px;
     padding-bottom: 3px;
     text-align: right;
     cursor: pointer;
     &.active{
      border-bottom: 1px solid #115BB2;
      color: #115BB2;
        
     }
   }
}
